@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
<img src="http://fondosdepantallasanimados.com/wp-content/uploads/2016/08/wallpapers-fondos-de-pantalla-para-pc.jpg" width="1025px" height="500px"/>

    <div>
        <p>
            Tarjeta madre

            Una tarjeta madre es la central o primaria tarjeta de circuito de un sistema de computo u otro sistema electrónico complejo.
            Una computadora típica con el microprocesador, memoria principal, y otros componentes básicos de la tarjeta madre.
            Otros componentes de la computadora tal como almacenamiento externo, circuitos de control para video y sonido, y dispositivos periféricos 
            son unidos a la tarjeta madre vía conectores o cables de alguna clase.
        </p>
    </div>
</div>